.block-generic_content {
	padding-top:100px;
	padding-bottom:100px;
	z-index:3;
	position:relative;
		background-color:$black;
	.gc-wrap {
		z-index:3;
		display:inline-block;
		width:100%;
		background-color:$black;
	}
	
	.gc-content{
		margin:0px;
		padding:0px;

		p{
			color:$white;
			margin-bottom:30px;
			line-height:32px;
		}
	}
	.top-bar{
		display:none;
	}
	@media #{$bp-tab-sm} {
		padding-bottom:0;
		.interior-container{
			//width:calc(100% - 40px);
			display:inline-block;
		}

		.left-bar{
			display:none;
		}
		.top-bar{
			width:200%;
			height:30px;
			display:block;
			float:none;
		}
		.gc-wrap{
			float:none;
			width:100%;
			display:block;
			clear:both;
			padding:40px;
			i{
				font-size:24px !important;
				line-height:30px !important;
			}
		}
		
	}

}
.home .gc-wrap{
	width:600px;
	@media #{$bp-tab-sm} {
		width:100%;
	}
}
