.site-footer{
	.module{
		margin-bottom:0;
	}
}
.block-footer {
		//margin-top:-180px;
	z-index:1;
	width:100%;
	background-color:black;
//	position:relative;
	.copyright{
		display:block;
		padding-top:15px;
		margin-top:100px;
		text-align:left;
		border-top:solid 1px #999999;
	}
	.top-bar{
		height:5px;
		width:100%;
		position:absolute;
		top:0px;	
	}
	.footer{
		.footer-content{
			padding-top:100px;
			padding-bottom:50px;
			.logo-wrapper{
				display:inline-block;
				text-align:left;
			}
			.column-wrapper{
				display:inline-block;
				float:right;
				.in,.fb{
					height:15px;
					margin-right:15px;
				}
				.column-one, .column-two, .column-three{
					display:inline-block;
					margin:0;
					padding:0;
					list-style:none;
					a{
					}
				}
						a, a:visited, a:hover{
 display: inline-block;     
   position: relative;    
   z-index: 1;     
   							font-size:16px;
							line-height:32px;
							color:$grey;
							text-decoration:none;
							font-weight:bold;
						}
						a:hover{
							color:$white;
						cursor:pointer;
						}
				.column-two{
					text-align:left;
					li{
						a, a:visited, a:hover{
							font-size:14px;
							line-height:30px;
							color:white;
							text-decoration:none;
						}
					}
				}
				.column-three{
					text-align:right;
					li{
						a, a:visited, a:hover{
							font-size:12px;
							line-height:30px;
							color:#999999;
							font-weight:bold;
							text-decoration:none;
							&.yellow{
								color:$ud-yellow;
							}
						}
					}
				}
			}
			.logo-wrapper{
				img{

					width:180px;
					height:auto;
					margin-bottom:30px;
					-webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
					-moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
					box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);

				}
			}
		}
	}
}
@media #{$bp-tab-sm} {
	.block-footer{			
		position:relative;
		padding-top:30px;
		padding-bottom:30px;
		.footer{
			.copyright{
				text-align:center;
			}
			.footer-content{
				display:block !important;
				padding-top:40px;
				padding-bottom:40px;
				.logo-wrapper{
					display:block;
					//width:100%;
					margin-left:40px;
					text-align:left;
				}
				.column-wrapper{
					display:block !important;
					width:100%;
					text-align:right;
					margin-right:40px;
					.column-one, .column-two, .column-three{
						display:block;
						text-align:center;
						width:100%;
						padding:0;
					}
					.column-two, .column-three{
							margin-top:40px;
					}
				}
			}
		}
	}
}