
@font-face {
    font-family: 'geomanistlight';
    src: url('fonts/geomanist-light-webfont.eot');
    src: url('fonts/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geomanist-light-webfont.woff2') format('woff2'),
         url('fonts/geomanist-light-webfont.woff') format('woff'),
         url('fonts/geomanist-light-webfont.ttf') format('truetype'),
         url('fonts/geomanist-light-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'geomanistbook';
    src: url('fonts/geomanist-book-webfont.eot');
    src: url('fonts/geomanist-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geomanist-book-webfont.woff2') format('woff2'),
         url('fonts/geomanist-book-webfont.woff') format('woff'),
         url('fonts/geomanist-book-webfont.ttf') format('truetype'),
         url('fonts/geomanist-book-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'geomanistbold';
    src: url('fonts/geomanist-bold-webfont.eot');
    src: url('fonts/geomanist-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geomanist-bold-webfont.woff2') format('woff2'),
         url('fonts/geomanist-bold-webfont.woff') format('woff'),
         url('fonts/geomanist-bold-webfont.ttf') format('truetype'),
         url('fonts/geomanist-bold-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html,body{
	background-color:$black;
	color:$white;
	font-family: 'geomanistlight';
}


.module {
  clear: both;
  background-color:$black;
  //z-index:1;
}
.interior-box{
    max-width:$max-width-interior;
    margin:auto;
}

@media #{$bp-tab} {
    .interior-box{
        max-width:600px;
    }
}
// Block Level Elements (for uniform margin)
// See: https://developer.mozilla.org/en-US/docs/HTML/Block-level_elements
address,figcaption,ol,article,figure,output,aside,
p,audio,form,pre,h1,h2,h3,h4,h5,h6,canvas,table,
dd,hgroup,tfoot,hr,ul,dl,video,fieldset,noscript {
    margin: 0 0 $element-spacing 0;
}
p{
	@include default-font;
    font-size:14px;
    line-height:24px;
    Font-Family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    margin-bottom:40px;
}
h2{
    font-size:52px;
    line-height:56px;
    margin-bottom:40px;
    font-weight:normal;
}
h3{
    font-size:14px;
    line-height:16px;
    margin-top:60px;
    margin-bottom:60px;
    font-weight:normal;
    letter-spacing:1px;
    text-align:left;
}
h4{
    font-weight:normal;
    text-align:left;
font-family: "geomanistbook";
   font-size: 16px;
   text-transform: uppercase;
   color: #fff;
   line-height: 24px;
   letter-spacing: 2px;
   }
@media #{$bp-mobile} {
    .page{
        .site-content{
            padding-top:0;
        }
    }
    h2{
        font-size:36px;
        line-height:40px;
  
    }
}

// Generally used as containers
section, header, footer, blockquote {
    margin: 0;
}

.gform_wrapper {
   // background: #6000AA;
 //   padding: 5%;
    margin:0 !important;
}
.gform_title{
        
}
.gform_wrapper .gform_body ul.gform_fields{
    margin-left:-6px !important;
}
/*** REMOVE LABEL FOR PLACEHOLDER ONLY ***/

/*** FIELD STYLING ***/
.gform_wrapper ul.gform_fields li.gfield,
.gform_wrapper .top_label li.gfield.gf_right_half {
    padding-right: 0;
}
input[type=text],
textarea {
   // background: #8300E9;
    border: none;
    border-radius: 0;
    color: #1a1a1a;
    font-size:24px !important;
    line-height:80px;
    letter-spacing: 2px !important;
    margin-left:-6px !important;
    padding-left:30px !important;
    margin-bottom: 30px !important;
    margin-top:-10px;
    -webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
width:100% !important;
}
.gform_wrapper .top_label div.ginput_container{
    margin-top:-3px !important;   
}
/*** FIELD FOCUS STYLING ***/
input[type=text]:focus,
input.text:focus,
input.title:focus,
textarea:focus {
    outline:none;
    color:back;
}

/*** MESSAGE BOX TRANSITION ***/
.gform_wrapper textarea.medium {
    margin-top: 6px;
    height: 10em;
    transition: height .3s ease-out;
}

/*** MESSAGE BOX FOCUS HEIGHT ***/
.gform_wrapper textarea.medium:focus {
    height: 25em;
}

/*** BUTTON STYLING ***/
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit] {
    width: auto !important;
    margin: 0 !important;
}
.gform_wrapper input[type=submit] {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 12px;
    border-radius: 0;
    background: #19ffc0;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    transition: box-shadow .2s ease-in-out;
}
.gform_wrapper select{
    color:#999999;
    margin-top:3px;
}
.gform_wrapper select:focus{
    color:#1a1a1a;
}
.gform_wrapper select, .gform_wrapper select:focus{
    outline:none;
    padding-left:0 !important;
    margin-left:-6px !important;
    padding-top:9px !important;
    padding-bottom:9px !important;
}
/*** BUTTON HOVER STYLING ***/
.gform_wrapper input[type=submit]{
    margin-left:10px !important;
    margin-top: 30px !important;
    border-radius:4px;
    height:40px;
    width:100%;
    display:inline-block;
        color:transparent;
    text-align:center;
    text-transform:uppercase;
    &:hover{
        text-decoration:none;
        color:transparent;
    }
        font-size: 0 !important;
        display: inline-block;
        position: absolute;
        top:-140px;
        right:40px;
        color: white;
        background:url('/wp-content/themes/pilot/mason-modules/footer_form/img/Icon-Right.svg');
        background-repeat: no-repeat;
}
.gform_validation_error .gform_footer input[type=submit]{
    top:-200px;
}
.gform_footer{
    position:relative;
//    margin-top:-30px;
}
.gform_wrapper input[type=submit]:hover {
    //background: #f2bf2f;
    //color: #fff;
    //box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
}

/*** PLACEHOLDER ***/
::-webkit-input-placeholder {
    /* Chrome */
    color:$black;
    font-weight:bold;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color:$black;
    font-weight:bold;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color:$black;
    font-weight:bold;
}
:-moz-placeholder {
    /* Firefox 4 - 18 */
    color:$black;
    font-weight:bold;
}
