
// Libraries

@import "../../bower_components/normalize-css/normalize";
@import "../../bower_components/sanitize-css/sanitize";
@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/magnific-popup/dist/magnific-popup";
@import "../../bower_components/slick-carousel/slick/slick.css";
// Optional: @import "../../bower_components/compass-mixins/lib/compass";
// Optional: @import "../../bower_components/animate.scss/scss/animate";
// Optional: @import "../../bower_components/wow/css/libs/animate";

// Theme Configuration

@import "variables";
@import "mixins";
@import "type";
@import "layout";

// views

@import "views/header";
@import "views/footer";

// Pages

@import "pages/home";

// Modules

@import "../../mason-modules/modules";
