.block-team{
	width: 100%;
	padding-bottom:100px;
	background-color:$black;
	position:relative;
  .layout-content {
  }
  	h3{
  		margin-bottom:5px !important;
  	}
	.team-section{
		width:100%;
		text-align:center;
		margin:0px;
		padding:0px;
		position: relative;
	}
	.team-content-section{
		margin:auto;
		max-width:$max-width-interior;
	    vertical-align: top;
	    position: relative;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-pack: top;
	    justify-content: top;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    width: 100%;
  		padding: $block-padding 0;
  		.member{
			width: 50%;
			-ms-flex-positive: 1;
			flex-grow: 1;
			padding-top: 60px;

			 .team-block-image{
				width:auto;
				padding:0px;
			 	height:140px;
				float:left;
			 }
			 img.in{
			 	height:20px;
			 }
				.member-content{
					display:inline-block;
					width:calc(100% - 140px);
					text-align:left;
					padding-left:30px;
					
					.member-title {
						text-align: left;
						margin-top:50px;
						margin-bottom:10px;

					}
					h5{
					    font-size:14px;
					    line-height:24px;
					    color:$grey;
					    Font-Family: Lucida Sans Unicode, Lucida Grande, sans-serif;
					    margin-bottom:20px;
					}
				}
			}


	}

}
@media #{$bp-tab} {
	.block-team{
		.interior-box{
			max-width:600px;
			.member{
				width:calc(50% - 40px);
				&:nth-child(even){
					margin-left:40px;
				}
				.team-block-image{
				 	height:100px;
				 }
			}
		}
	}
}
@media #{$bp-mobile} {
	.block-team{
		padding:40px;
		.interior-box{
			max-width:100%;
			.member{
				width:calc(100% - 80px);
				&:nth-child(even){
					margin-left:0;
				}
				.team-block-image{
				 	height:100px;
				 }
			}
		}
	}
}
