.block-location {
	.interior-container{
		display:block;
		#map{
	        height: 300px;
	        width:100%;
			display:block;
		}
		.loc-content{
			display:block;
			width:100%;
			margin:0px;
			height:100%;
			padding:40px 55px;
			h6{
			}
			.button-wrapper{
				display:inline-block;
				float:right;
				letter-spacing:2px;
				margin-top:5px;
			}
			.address{
				font-size:20px;
				line-height:30px;
				margin-bottom:12px;
			}
			p{
				@include default-font;

				strong{
					@include h5-style();
				}
			}

			ul{
				margin:0 0 0 30px;
				padding:0 0 0 20px;
				list-style:disc outside;

				li{
					margin:0px;
					padding:0 0 0 20px;
					font-size:16px;
					color:#000;
					line-height:28px;
					font-style:italic;			
				}
			}
		}
		@media #{$bp-desk} {
			.loc-content{
				padding:30px !important;
				height:auto !important;
				.img-wrapper{
					display:none !important;
				}
				.address{
					display:block;
					font-size:18px;
					line-height:24px;
				}
				.button-wrapper{
					float:none;
					.udrive-button{
						display:block;
						margin-top:20px;
						float:none;
					}
				}
			}
		}


	}

}
