.block-icon {
	.interior-container{
//		width:100%;
		display:block;
	}
	.icon-wrap {
		padding:60px;
		display:inline-block;
		width:100%;
		height:100%;
		clear:both;
		float:none;
		&:not(:first-child){
			border-top:solid 1px #dddddd;
		}
		.img-wrapper{
			margin-top:-1px;
			display:inline-block;
			padding-right:40px;
			.content-img{
				width:200px;
				height:auto;
			}	
		}
		.icon-content{
			width:calc(100% - 300px);
			display:inline-block;
			margin:0px;
			padding:0px;
			h2{
			}
		
			p{
			}

		}
		&.left-image{
			.icon-content{
				float:right;
			}
			.img-wrapper{
				float:left;
			}
		}
		&.right-img{
			.icon-content{
				float:left;
			}
			.img-wrapper{
				float:right;
				margin-left:auto;
				display:inline-block;
				padding:0;
			}
		}
		.right-img.img-wrapper{
			float:right;
			margin-left:auto;
			display:inline-block;
			padding:0;
		}
	}
	.top-bar{
		display:none;
	}
	@media #{$bp-desk} {
		text-align:center;

		.left-bar{
			display:none;
		}
		.top-bar{
			width:200%;
			height:30px;
			display:block;
			float:none;
		}
		.icon-wrap{
			float:none;
			width:100%;
			clear:both;
			padding:30px;
			.img-wrapper{
				width:100%;
				text-align:center;
				padding:0;
				padding-bottom:30px !important;
			}
			.icon-content{
				width:100%;
			}
			i{
				font-size:24px !important;
				line-height:30px !important;
			}
			p{
				font-size:14px !important;
				line-height:30px !important;
			}
		}
		
	}

}
