.block-parallax {
	.parallax-container{
		//display:none;
	}
	.parallax {
		min-height: 600px;
		margin: 0;
		
		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	p{
		background-color: white;
		color:Grey;
		padding: 100px;
		margin: 0;
		font-size: 50px;
		font-family: 'Open Sans Condensed', sans-serif;
		letter-spacing: 16px;
	}

	::-webkit-scrollbar { 
	    display: none; 
	}
	.fondo1{
		//background-image: url("http://www.intrawallpaper.com/static/images/hd_wallpapers_hd10.jpg");
	}

	.fondo2{
		background-position: 50% 200px;
	}

	.fondo3{
		background-image: url("https://wallpaperscraft.com/image/snow_leopard_face_big_cat_predator_65466_3840x2160.jpg");
		background-position: 50% 400px;
	}

	.fondo4{
		background-image: url("https://www.walldevil.com/wallpapers/a49/snow-christmas-town-church.jpg");
		background-position: 50% 600px;
	}


}