.block-footer_form {
//	padding-top:60px;
//	padding-bottom:60px;
	position:relative;
	background-color:$white;
	.ff-wrap {
		display:inline-block;
		width:100%;
		.ff-content{
			margin:0px;
			padding:0px;
			text-align:center;
			.black{
				background-color:$black;
				img{
					z-index:3;
					width:80%;
					max-width:940px;
				}
			}
			.gform_body{
				text-align:center;
			}
				.gform_footer{
					text-align:center;

				}
			.white{
				width:100%;
				text-align:center;
				z-index:0;
				margin-top:-330px;
				background-color:$white;
				height:calc(100% + 300px);
				padding-top:300px;
				.inside-container{
					margin: 0 auto;
					max-width:600px;
					margin-bottom:100px;
					padding:30px;
					h2{
						color:$black;					
					}
					p{
						color:$black;
					
						margin-bottom:30px;
						line-height:32px;
					}
						a{
    font-size:14px;
    line-height:24px;
    Font-Family: Lucida Sans Unicode, Lucida Grande, sans-serif;
							color: #cccccc;
						}
				}
			}
		}
	}
	.top-bar{
		display:none;
	}

}
@media #{$bp-tab} {
	.block-footer_form {
		.ff-wrap {
			.ff-content{
				.black{
					background-color:transparent;
					img{
						margin-top:-30px;
						max-width:600px;
					}
				}
				.white{
					.inside-container{
						margin-bottom:10px;
					}
				}
			}
		}
	}

}
