.site-content{
	padding-top:116px;
}
.block-header {
	z-index:10;
	width:100%;
	text-align:center;
	margin-bottom:0;
	margin-top:0;
	position:fixed;
	background:transparent;
	color:$white;
	.mobile-nav{
		display:none;
	}
	.mobile-menu{
		display:none;
	}

	.content{
		padding:40px;
		width:100%;
		display:inline-block;
		.logo{
			height:30px;
			width:auto;


			float:left;
		}
		p{
			font-size:12px;
			color:#999999;
			margin-bottom:0;
		}
		.main-nav{
			float:right;
			display:inline-block;
			ul.primary-nav{
				list-style:none;
				margin:0;
				padding:0;

				li{

					text-align:center;
					border-bottom: solid 2px transparent;
				    position: relative;
				    display: inline-block;
				    margin-left: 10px;
				    margin-right: 10px;
				    padding-bottom: 0px;
					&:hover, &.active{
//						border-bottom:solid 2px;
					}
					&:first-child{
						margin-left:0;
					}
					a{
						font-size:16px;
						font-weight:regular;
						font-family:'geomanistbook';
						color:$grey;
						line-height:16px;
						letter-spacing:2px;
						text-transform:uppercase;
						text-decoration:none;
					}
					.sub-nav{
						margin-top:2px;
						width:375px;
						z-index:9999;
						list-style:none;
						display:none;
						left:0px;
						position:absolute;
						background:black;
						padding:40px;
						text-align:left;
						li{
							text-align:left;
							margin-left:0;
							display:block;
							border-bottom:0;							
							a{
								color:white;
							}
							&.hover{
								border-bottom:0;							
							}
							margin-bottom:20px;
						}
					}
					&:hover, &.active{
						a{
							color:$white;
						}
						.sub-nav{
							display:inline-block;
						}
					}

				}
			}
		}
		.links{
			float:right;
			margin-top:30px;
			margin-right:55px;
			a{
				font-size:16px;
				font-weight:bold;
				color:#FF9900;
				text-decoration:none;
				&:hover{
					color:#FF9900;
					text-decoration:none;					
				}
			}
		}
	}
	@media #{$bp-mobile} {
	position:relative;
	
		background-color:$black;
		.content{
			padding-bottom:5px;
		}
		.mobile-menu{
			padding-top:5px;
		}
		ul.primary-nav{
			.red-button{
				display:none;
			}
		}
		.mobile-nav{
			display:block;
			height:40px;
			.menu-button{
				float:left;
				margin-left:20px;
				cursor:pointer;
				 span{
				 	font-weight:bold;
				 	font-size:12px;
				 	line-height:40px;
				 	margin-left:12px;
				 }
				.menu-open{
					height:20px;
				}
				.menu-close{
					cursor:pointer;
					display:none;
					height:20px;
				}
			}
			

		}
		.mobile-menu{
			display:none;
			padding:20px;
			background-color:$black;
			text-align:left;
			
			.primary-nav{
			vertical-align:middle;
				list-style:none;
				margin:0;
				padding:0;
				li{
width:25%;
					text-align:center;
					border-bottom: solid 2px transparent;
				    position: relative;
				    display: inline-block;
				    margin-left:0px;
				    margin-right: 0px;
				    padding-bottom: 0px;
					&:hover, &.active{
//						border-bottom:solid 2px;
					}
					&:first-child{
						margin-left:0;
					}
					&:nth-child(2){
						text-align:right;
						//float:right;
					}
					&:nth-child(3){
						float:right;
						width:40%;
					}
					a{
						font-size:16px;
						font-weight:regular;
						font-family:'geomanistbook';
						color:$grey;
						line-height:16px;
						letter-spacing:1px;
						text-transform:uppercase;
						text-decoration:none;
					}
					.sub-nav{
						margin-top:2px;
						width:375px;
						z-index:9999;
						list-style:none;
						display:none;
						left:0px;
						position:absolute;
						background:black;
						padding:40px;
						text-align:left;
						li{
							text-align:left;
							margin-left:0;
							display:block;
							border-bottom:0;							
							a{
								color:white;
							}
							&.hover{
								border-bottom:0;							
							}
							margin-bottom:20px;
						}
					}
					&:hover, &.active{
						a{
							//color:$white;
						}
						.sub-nav{
							display:inline-block;
						}
					}

				}
			}

		}
		.content{

			width:100%;
			margin:0;
			.main-nav{
				float:right;
				ul.primary-nav{
					li{
						display:none;
						&.red-button{
						//	margin-right:20px;
							display:none;
						}
						&.yellow-link-wrap{
							margin-right:20px;
							display:inline-block;
						}
					}
				}		
			}
		}
	}
	@media #{$bp-desk} {

		&.open-mobile{
			.mobile-nav{
				.menu-button{
					.menu-open{
						display:none;
					}
					.menu-close{
						display:inline-block;
					}
				}
			}
			.mobile-menu{
				display:block;
			}
		}
	}
}
